@page
@using Volo.Abp.Users
@using System;
@using System.Globalization;

@inject ICurrentUser CurrentUser
@model MovieMatch.Web.Pages.Movies.DirectorModel
@section styles{
    <abp-style src="/Pages/Movies/Director.css" />
}
@section scripts{
 
}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 d-flex flex-column justify-content-between">
    @if (!string.IsNullOrEmpty(Model.DirectorDetail.ProfilePath))
    {
        <img src="https://image.tmdb.org/t/p/original/@Model.DirectorDetail.ProfilePath" class="img-fluid rounded-start" alt="@Model.DirectorDetail.Name"/>          
    }
    </div>
    <div class="col-md-8">
      <div class="card-body position-relative">
        <h5 class="card-title">@Model.DirectorDetail.Name</h5>
        
        <p class="card-text">@Model.DirectorDetail.Biography</p>
        <p class="card-text">Birth Day:<span class="badge bg-success">@Model.DirectorDetail.BirthDay.ToShortDateString()</span></p>
        @if ((Model.DirectorDetail.DeathDay)!=null)
        {
            <p class="card-text">Death Day: <span class="badge bg-danger"> @((DateTime)Model.DirectorDetail.DeathDay).ToShortDateString()</span></p>
        }
      </div>
    </div>
  </div>
</div>

